.App {
 
  .MuiAppBar-colorSecondary {
    background-color: black;

    .RaAppBar-menuButton-13 {
      background-color: yellow;
    }

  }

  .MuiDrawer-paper {
    background-color: #292929;

    .MuiListItemIcon-root {
      color: white;
    }
  }

  
  .MuiButton-textPrimary {
    background-color: purple;
    margin: 0 0.5rem;
    color: white;
    padding: 0.5rem 1rem;

    &:hover {
      background-color: blue;
    }
  }

  .MuiTableRow-head {
    .MuiTableCell-head {
      background-color: black;
      color: white;
    }

    .MuiTableSortLabel-root {
      &:hover {
        color: red;

        .MuiTableSortLabel-icon {
          color: red !important;
        }
      }
      .MuiTableSortLabel-icon {
        color: white !important;
      }
    }
    .MuiTableSortLabel-active {
      color: green;

      .MuiTableSortLabel-icon {
        color: green !important;
      }
    }
  }

  .MuiFormLabel-root {
    color: magenta;
  }
}


.RaLayout-root-1{
    background-color: #292929 !important;
}

.RaLayout-content-4{
    background-color: #292929 !important;
}

.makeStyles-sidebarMenu-40{
    margin: 10px;
    background: linear-gradient(to bottom right, #6bcff9, #f52aca);
    border-radius: 10px;
  } 


  .MuiPaper-root{
    // background-color: 303030;
  }